<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951564803576-vevjl0kkgu3fcvk84kgut3qet496fl13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951564803576-vevjl0kkgu3fcvk84kgut3qet496fl13</string>
	<key>API_KEY</key>
	<string>AIzaSyAsqfMzqOa3OOHX6a_DJ_K-a9hbxs0v9Wg</string>
	<key>GCM_SENDER_ID</key>
	<string>951564803576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cubstart.BeProductive</string>
	<key>PROJECT_ID</key>
	<string>beproductive-dc86c</string>
	<key>STORAGE_BUCKET</key>
	<string>beproductive-dc86c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951564803576:ios:b730237e5ab45af6baca0d</string>
</dict>
</plist>